# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CLion
./.idea/*
./CMakeLists.txt
./cmake-build-debug/*
./cmake-build-release/*
*.cmake
*.pdb
*.make
*.rsp
*.res
*.rc
*.manifest
*.txt
*.ilk
*.cbp
cmake-build-debug/Makefile
*.includecache
*.internal
cmake-build-debug/CMakeFiles/Makefile2
*.marks
*.log
*.check_cache
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/vcs.xml
.idea/SexTL.iml
.idea/modules.xml
.idea/misc.xml
cmake-build-debug/CMakeFiles/clion-environment.txt
